<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

	<md-toolbar color="primary">
		<button class="app-icon-button" (click)="sidenav.toggle()">
			<i class="material-icons app-toolbar-menu">menu</i>
		</button>
	
		Angular Material2 Example App
	
		<span class="app-toolbar-filler"></span>
		
		<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE THEME</button>
	</md-toolbar>

	<main>
		<router-outlet></router-outlet>
	</main>
</md-sidenav-container>
